<?xml version="1.0"?>
<configuration>
	<system.data>
		<DbProviderFactories>
			<remove invariant="System.Data.SQLite"/>
			<add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".Net Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite"/>
		</DbProviderFactories>
	</system.data>
	<startup>
	</startup>
	<appSettings>
		<add key="RTFEncodingAbout" value="Windows-1252"/>
		<add key="RTFEncodingContent" value="ISO-8859-8"/>
		<!-- uncomment to support embedded fonts -->
		<!--<add key="Fonts" value="Semitic Early,Semitic Middle,Semitic Late,Semitic Modern,BSTHebrew"/>
		<add key="FontClasses" value="semear,semmid,semlate,semmod,bsthebre"/>-->
		<!-- Convert the RTF to HTML via OpenOffice which should be already been installed -->
		<add key="RTF2HTMLViaOpenOffice" value="false"/>
		<!-- number of entries to combine for one OpenOffice call for speed -->
		<add key="RTF2HTMLOO_GroupCount" value="100"/>
		<!-- reformat emulated list as indented paragraphs into HTML bullet and number lists -->
		<add key="RTF2HTMLOO_ReformatLists" value="true"/>
		<add key="RTF2HTMLOO_CleanFont" value="true"/>
		<add key="RTF2HTMLOO_CleanTopBottomMargins" value="true"/>
        <add key="RTF2HTMLOO_CleanEmptyParagraphs" value="false"/>
        <add key="RTF2HTMLOO_ThemeColor" value="true"/>
		<!-- 10 pt and below, as normal -->
		<add key="RTF2HTMLOO_MinFontSize" value="10"/>
		<!-- Maximum number of tries to retry save as HTML as OpenOffice may fail the first time -->
		<add key="RTF2HTMLOO_MaxRetrySaveHTML" value="3"/>
	</appSettings>
</configuration>
